@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css'); */
@font-face {
  font-family: 'Haeparang';
  src: url('../assets/Yeongdeok_Haeparang.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Haeparang';
}


@media (min-width: 1300px) {
  #history-window {
    width: 30%;
  }

  #question-window {
    width: 70%;
  }
}

@media (min-width:1000px) {
  #history-window {
      width: 40%;
    }
  
    #question-window {
      width: 60%;
    }
}
